* {
  box-sizing: border-box;
}

.warning-message {
  background-color: red;
  color: white;
  text-align: center;
}

.app {
  margin: 0 50px;
  min-height: 100vh;
}

.brand {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #000;
}

.nav {
  list-style: none;
  padding: 0;
}

.nav-item {
  text-align: center;
  padding: 10px 10px;
  color: #000;
  text-decoration: none;
  font-size: 18px;
}

.section {
  padding: 30px;
}

.section-home {
  display: flex;
  justify-content: space-between;
}

.section-contact {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.home-text {
  margin: auto;
  margin-left: 0px;
}

.home-text h1,
h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.image-home {
  width: 400px;
  border-radius: 50%;
  margin: 30px 0;
}

button {
  border: 3px solid black;
  border-radius: 24px;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.title {
  font-size: 70px;
  color: gray;
  margin: 0 auto;
}

.about-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.detail-work {
  border: 1px solid #000;
  padding: 20px;
}

.images-work {
  display: grid;
  max-width: 600px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img-1 img-2" "img-3 img-3";
  gap: 16px;
}

#img-1 {
  grid-area: img-1;
}

#img-2 {
  grid-area: img-2;
}

#img-3 {
  grid-area: img-3;
}

.image-item {
  width: 100%;
}

.images-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "img1-contact img2-contact" "img3-contact img4-contact";
  gap: 30px;
}

#img1-contact {
  grid-area: img1-contact;
}

#img2-contact {
  grid-area: img2-contact;
}

#img3-contact {
  grid-area: img3-contact;
}

#img4-contact {
  grid-area: img4-contact;
}

.image-contact {
  width: 60px;
}

.image-item-contact {
  display: "flex";
  align-items: "center";
  gap: "20px";
}

.form-contact {
  display: grid;
  border: 1px solid black;
  width: 80%;
  padding: 64px 32px;
  gap: 20px;
}

.form-input {
  padding: 1em 1em;
}

.form-label {
  font-weight: 700;
}

.image-item-contact {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (min-width: 601px) {
  .navbar-toggle {
    display: none;
    width: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .app {
    margin: 0 25px;
  }

  .section {
    width: 100%;
  }

  .section-contact {
    display: grid;
  }

  .nav {
    display: none;
  }

  .section-home {
    display: grid;
    grid-auto-flow: row dense;
    text-align: center;
  }

  .image-home {
    width: 50%;
  }

  .images-work {
    margin-top: 20px;
  }

  .section-contact {
    width: 50%;
  }

  .text-contact {
    width: 80%;
  }

  .images-contact {
    display: grid;
  }

  .image-item-contact {
    display: grid;
    gap: 0;
  }
}
